{% extends 'base.html' %} 

{% block title %} Todo List  {% endblock %}


{% block content %}

<center><h1> Todo List </h1> </center>

{% for t in todo %} 

    <h3> {{  t.title  }}</h3>
    {% if t.complete == False %}
        <p> Not Complete </p>
    {% elif t.complete == True %}
        <small>This Todo is completed !</small>
    {% endif %}
    </p>
    <a class="btn btn-danger" href="/delete/{{ t.id }}">Delete</a>

    <a class="btn btn-primary" href="/update/{{ t.id }}">Update</a>

    
    <hr>

    {% endfor %}


{% endblock %}